.container {
  margin: 50px 0;
  display: flex;
}

.infected {
  margin: 0 2% !important;
  border-bottom: 10px solid #056674;
  display: flex;

  
}

.recovered {
  margin: 0 2% !important;
  border-bottom: 10px solid #66bfbf;
}

.deaths {
  margin: 0 2% !important;
  border-bottom: 10px solid #ff4b5c;
}

